{% extends 'base.html' %}
{% block content %}
<div class="container">
    <div class="row justify-content-center">
        <div class="col-md-6">
            <div class="card mt-5">
                <div class="card-body">
                    <h1 class="card-title text-center">Zaloguj się</h1>
                    <form action="{{ url_for('login') }}" method="POST">
                        <div class="mb-3">
                            <label for="username" class="form-label">Użytkownik</label>
                            <input type="text" name="username" class="form-control" id="username" placeholder="Wpisz nazwę użytkownika" required>
                        </div>
                        <div class="mb-3">
                            <label for="password" class="form-label">Hasło</label>
                            <input type="password" name="password" class="form-control" id="password" placeholder="Wpisz swoje hasło" required>
                        </div>
                        <div class="d-grid">
                            <button type="submit" class="btn btn-primary">Zaloguj</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
